.card{
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 4px 4px 4px gray;

}

.card>img{
    flex: 1;
    border-radius: 10px;
    max-width: 200px;
}

.card>.details{
    flex: 2;
    padding: 10px;
}

.card>.details>h1>span{
    color: green;
}